<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Caption Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="card">
    <h1>✨ Image Caption Generator</h1>
    <p class="subtitle">Upload an image & get a classy AI caption</p>

    <form method="POST" enctype="multipart/form-data">
      <label class="upload-box">
        📸 Choose Image
        <input type="file" name="image" required hidden>
      </label>

      <button type="submit">Generate Caption</button>
    </form>

    {% if image %}
      <div class="preview">
        <img src="{{ image }}" alt="Uploaded Image">
      </div>
    {% endif %}
    
    {% if image_url %}
       <div class="preview">
         <img src="{{ image_url }}" alt="Uploaded Image">
       </div>
    {% endif %}

    {% if caption %}
      <div class="caption-box">
        <h3>Generated Caption</h3>
        <p>{{ caption }}</p>
      </div>
    {% endif %}
  </div>
</body>
</html>
